In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('서울시 지하철 호선별 역별 월별 유_무임 승하차 인원 정보.csv', encoding='cp949')

In [7]:
#1호선 데이터 추출
df = df[df['호선명'] == '1호선']

In [11]:
#2020~2022 데이터 제거
df = df[~((df['사용월']//100 >= 2020) & (df['사용월']//100 <= 2022))]

In [13]:
df

         사용월  호선명          지하철역   유임승차인원  무임승차인원   유임하차인원  무임하차인원      작업일자
0     202408  1호선           신설동   283898  115092   275451  112469  20240903
1     202408  1호선           제기동   224270  248075   212464  263675  20240903
2     202408  1호선  청량리(서울시립대입구)   376838  278510   364622  283470  20240903
3     202408  1호선           동묘앞   143866  138732   144748  138584  20240903
4     202408  1호선           서울역  1407719  199799  1321125  190124  20240903
...      ...  ...           ...      ...     ...      ...     ...       ...
2734  201501  1호선            시청   639441   87392   636014   85689  20150206
2735  201501  1호선           서울역  1890411  238403  1667163  220008  20150206
2736  201501  1호선           동묘앞   155556  124838   171171  124116  20150206
2737  201501  1호선       청량리(지하)   582547  337595   602667  336755  20150206
2738  201501  1호선           제기동   286925  325941   285937  344372  20150206

[840 rows x 8 columns]

In [35]:
#승차인원 산출(유임+무임)
df['승차인원'] = df['유임승차인원'] + df['무임승차인원']
df.drop(columns=['유임승차인원', '무임승차인원'], inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_270300\1055654399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['승차인원'] = df['유임승차인원'] + df['무임승차인원']
C:\Users\user\AppData\Local\Temp\ipykernel_270300\1055654399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['유임승차인원', '무임승차인원'], inplace=True)

In [37]:
#하차인원 산출(유임+무임)
df['하차인원'] = df['유임하차인원'] + df['무임하차인원']
df.drop(columns=['유임하차인원', '무임하차인원'], inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_270300\3996077029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['하차인원'] = df['유임하차인원'] + df['무임하차인원']
C:\Users\user\AppData\Local\Temp\ipykernel_270300\3996077029.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['유임하차인원', '무임하차인원'], inplace=True)

In [41]:
df['호선명'] = df['호선명'].replace('1호선', 1)

C:\Users\user\AppData\Local\Temp\ipykernel_270300\3257852564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['호선명'] = df['호선명'].replace('1호선', 1)

In [43]:
df

         사용월  호선명          지하철역      작업일자     승차인원     하차인원
0     202408    1           신설동  20240903   398990   387920
1     202408    1           제기동  20240903   472345   476139
2     202408    1  청량리(서울시립대입구)  20240903   655348   648092
3     202408    1           동묘앞  20240903   282598   283332
4     202408    1           서울역  20240903  1607518  1511249
...      ...  ...           ...       ...      ...      ...
2734  201501    1            시청  20150206   726833   721703
2735  201501    1           서울역  20150206  2128814  1887171
2736  201501    1           동묘앞  20150206   280394   295287
2737  201501    1       청량리(지하)  20150206   920142   939422
2738  201501    1           제기동  20150206   612866   630309

[840 rows x 6 columns]