In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='cp949')

In [15]:
#1호선 데이터 추출
df = df[df['호선명'] == '1호선']

In [21]:
#2020~2022 데이터 제거
df = df[~((df['사용월']//100 >= 2020) & (df['사용월']//100 <= 2022))]

In [25]:
df['호선명'] = df['호선명'].replace('1호선', 1)

C:\Users\user\AppData\Local\Temp\ipykernel_274324\3257852564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['호선명'] = df['호선명'].replace('1호선', 1)

In [27]:
df

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202408,1,동대문,377,11,10496,1714,8449,6119,14123,...,8678,788,2474,4,252,0,0,0,0,20240903
1,202408,1,동묘앞,190,3,2817,1051,3474,5084,8230,...,4548,114,1734,1,209,0,0,0,0,20240903
2,202408,1,서울역,638,20,8351,8709,13572,53281,38697,...,12715,2750,3805,0,195,0,0,0,0,20240903
3,202408,1,시청,51,4,1913,5068,3880,24339,7694,...,3760,458,976,2,31,0,0,0,0,20240903
4,202408,1,신설동,263,22,9154,2446,9760,9764,21316,...,9141,374,2635,0,4,0,1,0,0,20240903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2674,201501,1,제기동,265,4,4223,2565,8456,8686,21578,...,8411,182,2134,0,0,0,0,0,0,20151223
2675,201501,1,종각,216,26,5927,4953,5998,28562,9180,...,6414,5727,1593,3,5,0,0,0,0,20151223
2676,201501,1,종로3가,142,6,4713,1817,4437,12550,7303,...,6868,3472,3045,0,38,0,0,0,0,20151223
2677,201501,1,종로5가,40,1,2220,3053,3321,12096,5476,...,4224,996,1239,0,0,1,2,0,0,20151223
2678,201501,1,청량리(지하),1021,33,12104,3355,19186,13447,50159,...,26319,623,7816,1,0,1,0,0,0,20151223